In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, we will summarize some of the key tools, libraries, and languages used by data scientists. We will also perform simple arithmetic operations using Python.

In [ ]:
### Data Science Languages
Some of the popular languages used by Data Scientists include:
1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

In [ ]:
### Data Science Libraries
Some of the commonly used libraries in Data Science include:
1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

In [ ]:
### Data Science Tools
| Data Science Tools | Category |
|---------------------|-----------|
| Jupyter Notebook    | Interactive Computing |
| RStudio             | Statistical Computing |
| Apache Spark        | Big Data Processing |
| TensorFlow          | Machine Learning |

In [ ]:
### Arithmetic Expression Examples
Below are some examples of basic arithmetic operations in Python.

In [2]:
# This expression multiplies 3 and 4, then adds 5
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
### Objectives
In this notebook, we will:
- List popular languages used by data scientists  
- List common libraries used in data science  
- Create a table of data science tools  
- Perform simple arithmetic operations using Python

In [ ]:
## Author
**Saif Ali**